NODE_ENV=development
PORT=3000
API_PREFIX=/api/v1

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=mypassword
DB_NAME=mpwt_vehicle_inspection_renewal
DB_LOGGING=false

PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=mypassword
